# .gitignore
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
.venv
*.sqlite3
media/
staticfiles/
.DS_Store
*.autosave
*.vscode
*.swp
*.mypy_cache
*~
*.dtmp
.directory
*.log
.idea
main/settings_local.py
log
pic
README-ignore.md
log.txt
doc-ignored
tmp
zdiff.py
tags
*.~lock*
test.test
push_package_to_magento.sh
*.egg-info
stage-*.sh
main/*.db
_WON
